*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior:smooth
}

/* Haut de page / page d'accueil */
header nav ul {
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

header nav ul li a {
    color: white;
}

header nav ul li a:hover {
    text-decoration: none;
    color: white;
}

header nav li {
    height: fit-content;
    margin: 0 30px;
}

#navbar {
    display: flex;
    background: transparent;
    color: white;
    align-items: center;
}

.animation {
    position: relative;
}

.animation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background:
    linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.animation:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

section .elements-section {
    height: 43.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    padding-right: 120px;
}

section .elements-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 50px;
}

section .elements-section p {
    font-size: 2rem;
    text-align: center;
}  

#first-section {
    background-image: url(/img/new_background.png);
    color: white;
    min-height: 100vh;
}

.logo {
    width: 130px;
    padding: 15px 0 15px 50px;
}

/* Corps de page */

/* A PROPOS DE MOI */
#about {
    padding: 5rem 0;
    background: white;
    color: black;
}

#about h2 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: bold;
}

.presentation {
    padding-top: 70px;
    max-width: 100%;
    justify-content: center;
    display: flex;
}

.photo_profil {
    max-width: 25rem;
    padding-left: 150px;
}

.description {
    display: flex;
    gap: 100px;
    align-items: center;
}

.description p {
    max-width: 25rem;
    font-size: 1.2rem;
    line-height: 30px; 
}

/* COMPETENCES */
#competences {
    padding: 5rem 0;
    background: black;
    color: white;
}

#competences h2 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 70px;
}

.cards img {
    width: 80px;
    padding-bottom: 10px;
}

#icons-container {
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
}

/* PORTFOLIO */
#portfolio {
    margin: 5%;
}

#portfolio h2 {
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 50px;
    font-weight: bold;
}

/* Contact */
#contact h2 {
    text-align: center;
    font-size: 2.2rem;
    padding-bottom: 50px;
}

#contact {
    padding-top: 25px;
    padding-bottom: 5px;
    background: black;
    color: white;
}

#contact-container {
    display: flex;
    justify-content: center;
}

.icons-contact {
    width: 80px;
}

.icons-contact img {
    width: 50px;
}

#contact p {
    text-align: center;
    padding-top: 50px;
}

.hamburger {
    display: none;
    width: 50px;
}

/* Partie responsive */
@media only screen and (max-width: 981px) {
    /* Menu hamburger */
    ul li {
        display: none;
    }
    
    .hamburger {
        display: flex;
        align-items: center;
        margin: 0 30px;
    }
    /* About */
    .presentation {
        padding-top: 60px;
        max-width: 80%;
        justify-content: center;
        display: flex;
    }
    
    .photo_profil {
        max-width: 23rem;
        padding-left: 120px;
    }
    
    .description {
        display: flex;
        gap: 70px;
        align-items: center;
    }
    
    .description p {
        width: 25rem;
        font-size: 1.2rem;
        line-height: 30px; 
    }    
}

@media only screen and (max-width: 768px) {
    .presentation {
        padding-top: 60px;
        max-width: 80%;
        justify-content: center;
        display: flex;
    }
    
    .photo_profil {
        max-width: 20rem;
        padding-left: 120px;
    }
    
    .description {
        display: flex;
        gap: 70px;
        align-items: center;
    }
    
    .description p {
        width: 20rem;
        font-size: 1rem;
        line-height: 30px; 
    }    
}

@media only screen and (max-width: 480px) {
    .hamburger {
        display: flex;
        align-items: center;
        margin: 0 40px;
    }

    .elements-section {
        padding-top: 30%;
    }

    section .elements-section h1 {
        font-size: 3rem;
    }

    section .elements-section p {
        font-size: 1.5rem;
    }

    .gros-titre {
        padding-left: 50%;
        text-align: center;
    }

    .text-accueil {
        padding-left: 40%;
    }

    .logo {
        width: 110px;
        padding: 15px 0 15px 30px;
    }

    .cards img {
        width: 50px;
        padding-bottom: 10px;
    }

    .presentation {
        padding-top: 70px;
        max-width: 100%;
        justify-content: center;
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .photo_profil {
        max-width: 15rem;
        padding-left: 0;
    }
    
    .description {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    
    .description p {
        max-width: 20rem;
        font-size: 1rem;
        line-height: 30px; 
    }

    #first-section {
        background-image: url(/img/new_background.png);
        background-size: 400%;
        background-position: 30% 65%;
        color: white;
        min-height: 100vh;
    }
}